.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color:#1f2937;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}